[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.2",
    "gevent>=25.9.1",
    "opencv-python>=4.12.0.88",
    "pillow>=12.0.0",
    "werkzeug>=3.1.3",
]
